{% extends "main.html" %}
{%block content%}

<div class="row">
		<div class="well  well-sm col-md-12 ">
			<h3><span class="glyphicon glyphicon-cutlery" ></span>Cuisines</h3>
		</div>
</div>
<div class="row ">
	<div class="col-md-11 ">
			<a href="{{url_for('addCuisine')}}">
				<button class="btn btn-success btn-lg" id="new-restaurant">
					Add Cuisine
				</button>
			</a>
	</div>

</div>
<br>
	<div class="list-group">
		{% for cuisine in cuisines %}
		<div class="list-group-item row">
			<div class="col-xs-6 ">
			<a href="{{url_for('showItems',cuisine_id=cuisine.id)}}">{{cuisine.name}}
				</a>
			</div>

			<span id="delete" class=" glyphicon glyphicon-trash text-right" style="cursor: pointer;" onclick="delFunction({{cuisine.id}})"></span>

		</div>
		{% endfor %}
	</div>

	<script>
	function delFunction(id)
	{
		var resp = confirm("Are u sure??");
		if(resp)
		{
			var data ={};
			data['cuisine_id'] = id;
			$.ajax({
				type:'POST',
				url:'/deletecuisine',
				processData:false,
				data:JSON.stringify(data),
				contentType: 'application/ajax; charset=utf-8',
				success:function(result){
					alert(result);
					location.reload(true);
				},
				statusCode:{
					401: function(){
						alert("you are not authorized!!");
						location.reload();
					}
				}
			});
		}
	}
	</script>
{%endblock%}
