{% extends "main.html" %}
{%block content%}

<div class="row">
		<div class="well  well-sm col-md-12 ">
			<h3><span class="glyphicon glyphicon-cutlery" ></span>Cuisines</h3>
		</div>
</div>
{%if user_id%}
<div class="row ">
	<div class="col-md-11 ">
			<a href="{{url_for('addCuisine')}}">
				<button class="btn btn-success btn-lg" id="new-restaurant">
					Add Cuisine
				</button>
			</a>
	</div>

</div>
<br>
{% endif %}
	<div class="list-group">
		{% for cuisine in cuisines %}
		<div class="list-group-item row">
			<div class="col-xs-6 ">	
			<a href="{{url_for('showItems',cuisine_id=cuisine.id)}}">{{cuisine.name}}
				</a>	
			</div>
			{% if user_id and user_id == cuisine.user_id%}
			
				<span id="delete" class=" glyphicon glyphicon-trash text-right" style="cursor: pointer;" onclick="delFunction({{cuisine.id}})"></span>
				{% endif%}
		</div>
		{% endfor %}
	</div>

	<script>
	function delFunction(id)
	{
		var resp = confirm("Are u sure??");
		if(resp)
		{
			window.location.href = "/deletecuisine/"+id;
		}
	}
	</script>
{%endblock%}
