{% extends "main.html"%}
{% block content%}
<div class="jumbotron">
	<div class="well well-sm">
		<h3> {{foodItem.name}}<span class="glyphicon glyphicon-pencil"></span></h3>
	</div>
	<form class="well well-sm" action="/edititem/{{foodItem.id}}" method="post">
		<div class="form-group">
			<label>Name:</label>
			<input type="text" class="form-control" maxlength = "50" name="name" value="{{foodItem.name}}">
		</div>
		<div class="form-group">
			<label>Description:</label>
			<textarea class="form-control" name="description" rows="3" >{{foodItem.description}}</textarea>
		</div>
		<div class="form-group">
			<label>Ingredient(seperated by ","):</label>
			<textarea  class="form-control" name="ingredient" rows="3" >{{foodItem.ingredient}}</textarea>
		</div>
		<button type="submit" class="btn btn-success btn-lg" >Edit It</button>
	</form>
</div>
{% endblock %}
