{%extends "main.html"%}
{% block content %}
	<section class ="jumbotron">
		<h2> {{foodItem.name}}</h2>
		<h3> Description</h3>
		<div class="well well-sm">
			<p>{{foodItem.description}}</p>
		</div>
		<h3> Ingredients</h3>
		<div class="well well-sm">
			<ol>
				{%for ingred in foodItem.ingredient.split(',')%}
					<li>{{ingred}}</li>
				{%endfor%}
			</ol>
		</div>
		<div class="well well-sm">
			<p> by...</p>
			<p id="creater-name">{{creater.name}}</p>
		</div>
		<span><button class="btn btn-success btn-lg" onclick="editFunc({{foodItem.id}})">Edit</button></span>
		<span><button class="btn btn-success btn-lg" onclick="delFunc({{foodItem.id}})">Delete</button></span>
	</section>
	<script>
	function editFunc(item_id)
	{
		$.ajax({
			url:'/edititem/'+item_id,
			contentType: 'application/ajax; charset=utf-8',
			success:function(result){
				window.location.href = '/edititemform/'+item_id;
			},
			statusCode:{
				401:function(){
					alert(" You are Unauthorized!!");
					location.reload(true);
				}
			}
		});
	}
	function delFunc(item_id)
	{
		resp = confirm("Are you sure??");
		if(resp)
		{
			data = {};
			data['item_id'] = item_id;
			$.ajax({
				type:'POST',
				url:'/deleteitem',
				data:JSON.stringify(data),
				processData:false,
				contentType:"application/json",
				success:function()
				{
					alert("Item Deleted");
					location.href = '/fooditem/{{foodItem.cuisine_id}}';
				},
				statusCode:{
					401:function(){
						alert("You are Not authorized!!");
						location.reload(true);
					}
				}
			});
		}
	}
</script>
{% endblock%}
