<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
<script src="//apis.google.com/js/platform.js?onload=start"> </script>
</head>
<body>
	<div class="container">
	<!-- GOOGLE PLUS SIGN IN BUTTON-->
	<div class="jumbotron jumbotron-sm">
	<div class="well well-sm text-center">
		<h4>Sign in With google</h4>
    <div id="signInButton" >
      <span class="g-signin"
        data-scope="openid email"
        data-clientid="192682633442-ii5jher0k36nrq1dq4e9bgpo1qaj96o5.apps.googleusercontent.com"
        data-redirecturi="postmessage"
        data-accesstype="offline"
        data-cookiepolicy="single_host_origin"
        data-callback="signInCallback"
        data-approvalprompt="force">
      </span>
  </div>
    </div>
<!-- offline =access user even whe n the user is offline -->

<section class= "default well well-sm">
	<div class="jumbotron text-center">
	<div class="btn-group btn-group-lg text-center" >
	<button class="btn btn-primary btn-lg"  id="login-btn">Login</button>
	<button class="btn btn-primary"  id ="Signup-btn">SignUp</button>
	</div>
	</div>
	<br>
	<div id="login" class="well well-sm">
	<form name="Login" id="loginform" action="" method="post">
		<div class="input-group input-group-lg">
			<span class="input-group-addon">username</span>
			<input type="text" name="email" class="form-control" maxlength="50" >
		</div><br>
		<div class="input-group input-group-lg">
			<span class="input-group-addon">password </span>
			<input type="password" name="password" class="form-control" maxlength="50" autocomplete="false">
		</div><br>
		<p><button class="btn btn-submit btn-lg" type="submit">Login</button></p>
	</form>
	</div>
	<div id="Signup" class="well well-sm">
	<form id="ajaxform" action="" method = "post">
		<div class="input-group input-group-lg">
			<span class="input-group-addon">username</span>
			<input type="text" name="email" class="form-control" maxlength="50">
		</div><br>
		<div class="input-group input-group-lg">
			<span class="input-group-addon">FullName</span>
			<input type="text" name="username"  class="form-control" maxlength="50" >
		</div><br>
		<div class="input-group input-group-lg">
			<span class="input-group-addon">password</span>
			<input type="password" name="password" class="form-control" maxlength="50" autocomplete="false">
		</div><br>
		<p><input class="btn btn-submit btn-lg" type="submit" name="button" value="Sign Up"></p>
	</form>
	</div>
</section>
</div>

</div>
<div id="result" ></div>

<script>
window.onload=function(){
		$('#login').show();
		$('#Signup').hide();

	};
	// google callback function
	function signInCallback(authResult){
		if(authResult['code']){
			//hide sign in button now that the user is authorized
			$('.container').hide();
			//send the one time use code to the server if the server responds write a login successfull message and return back to the FoodApp page
			$.ajax({
				type : 'POST',
				url : '/gconnect?state={{STATE}}',
				processData: false,
				data : authResult['code'],
				contentType: 'application/octet-stream; charset=utf-8',
				success: function(result){
					if(result){
						$('#result').html('Login successfull!<br>'+result+'<br> redirecting....');
						setTimeout(function(){
							window.location.href = "/cuisines";
						},4000);

					}
					else if(authResult['error']){
						console.log('there was an error:'+ authResult['error']);
					}
					else{
						$('#result').html('Failed to make a server-side call.Check your configuration and console ');
					}
				},
				statusCode:{
					401:function(){
						alert("Please Try again!");
					},
					500:function(){
						alert("Error:Try again");
						location.reload(false);
					}
				}
			});
		}
	}

</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script>

	$('#login-btn').click(function(){
			$('#login').show();
			$('#Signup').hide();
		});
	$('#Signup-btn').click(function(){
			$('#login').hide();
			$('#Signup').show();
		});

	function checkInputs(input) {
		var flag = false;
	    input.each(function(){
	        var input = $(this);
	        if( $.trim(input.val()) === '' ) {
	        	console.log($.trim(input.val()) === '');
	 	            flag = true;
	        }
	    });
	    return flag;
	}

	// login ajax request
	$('#loginform').submit(function(event)
	{
		event.preventDefault();
		if(checkInputs($("#loginform :input[type=text]")))
		{
			alert("fill all the inputs!!!");
			return false;
		}
		data  = {};
		$.map($('#loginform').serializeArray(),function(ele,index){
			data[ele["name"]] = ele["value"];

		});
		$.ajax({
			type : 'POST',
			url : '/login?state={{STATE}}',
			processData:false,
			data :JSON.stringify(data),
			contentType: 'application/ajax; charset=utf-8',
			success:function(result)
			{
				if(result)
				{
					$(".container").hide();
					$('#result').html("Sign up successfull!!<br>"+result+"redirecting..");

					setTimeout(function(){
							window.location.href = "/cuisines";
						},2000);
				}
				else
				{
					$('#result').html("Invalid Credentials!!");
				}
			},
			statusCode: {
				401: function() {

				  alert("login Unsuccessfull!!");
				},
				404:function(){
					alert("Invalid Credentials!!");
				}
			}
		});
	});

	// singup ajax request
	$('#ajaxform').submit(function(event)
	{
		event.preventDefault();

		if (checkInputs($("#ajaxform :input[type=text]")))
		{
			alert("Fill all th inputs!!");
			return false;
		}

		data  = {};
		$.map($('#ajaxform').serializeArray(),function(ele,index){
			data[ele["name"]] = ele["value"];
		});

		$.ajax({
			type : 'POST',
			url : '/signup?state={{STATE}}',
			processData:false,
			data :JSON.stringify(data),
			contentType: 'application/ajax; charset=utf-8',
			success:function(result)
			{
				if(result)
				{
					$('.container').hide();
					$('#result').html("Sign up successfull!!<br>"+result+"redirecting..");

					setTimeout(function(){
							window.location.href = "/cuisines";
						},2000);
				}
				else
				{
					$('#result').html("Please Try Again!!");
				}
			},
			statusCode:{
				401:function(){
					alert("Error:Please try Again! ");
				},
				404:function(){
					alert("Username is already Present");
				}
			}
		});
	});
</script>
</body>
</html>
