<!DOCTYPE html>
<html>
<head>
	<title>Catalog App </title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
<style type="text/css">
.container-fluid
{
	background-image: url('{{url_for('static',filename='backimage.jpg')}}');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	min-height:100vh;
}
h1,h3,h4,h2,h5
{
	text-decoration: underline;
	text-transform: uppercase;
}

</style>
</head>
<body>
<div class="container-fluid" style="">
	<div class="well well-sm row" style="background-color: gray">
		<div class="col-md-11 col-sm-10 col-xs-8">
			<h1 class="text-center"><span class="glyphicon glyphicon-cutlery"></span>FoodCuisine App</h1>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-4">	
			<img src="{{url_for('static',filename='food.jpg')}}"  alt="food image" class="img-responsive img-circle img-thumbnail" >
		</div>	
	</div>
	<div class="row top-menu">
		<div class="col-xs-6" >
			<button type="button" class="btn btn-default btn-lg">
	          <a href="{{url_for('showCuisines')}}"><span class="glyphicon glyphicon-home"></span> Home</a>
	        </button>
		</div>
		<div class="col-xs-6  text-right">	
		{%if 'username' not in session %}

				<button type="button" class="btn btn-default btn-lg"><a href="{{url_for('showLogin')}}">Login </a></button>
			{% else %}
				<!-- <img src="{{session['picture']}}" class="img-responsive img-circle"> -->
			<button type="button" class="btn btn-default btn-lg"><a href="{{url_for('disconnect')}}">Logout </a>
			{% endif %}</button>
		 
		</div>
	</div>
	<br>
	{%if 'username'  in session %}
	<br>
	<div class="row">
		<div class="col-xs-2 col-md-1">
			<img src="{{session['picture']}}" class="img-responsive img-circle">
		</div>
		<div class="col-xs-10 col-md-11">
		</div>
	</div>
	<br>
	{% endif%}
	{% with messages = get_flashed_messages() %}
      
      {% if messages %}
    <div class="well well-sm">
		Messages
	</div>
        <ul class="list-group">
        {% for message in messages %}
            <li class="list-group-item list-group-item-info"> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

	<br>	
	{%block content%}
	{%endblock%}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>